@use '../../styles/abstracts/mixins' as *;

.card {
  background: linear-gradient(to top, var(--color-white), var(--color-light-blue));
  border-radius: 12px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
  height: 270px;
  @include flex-column;

  &:hover {
    height: auto;

    .content {
      height: auto;
      .details {
        opacity: 1;
        visibility: visible;
      }
    }

    .name {
      opacity: 0;
      visibility: hidden;
    }

    .actions {
      opacity: 0;
      visibility: hidden;
    }
  }

  .imageContainer {
    flex-shrink: 0;
    position: relative;
    top: -50px;
    width: 164px;
    margin: 0 auto;

    .image {
      width: 164px;
      height: 158px;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  .content {
    padding: var(--spacing-md);
    margin-top: -50px;
    @include flex-column;
    align-items: center;
    position: relative;
    height: 150px;

    .name {
      font-family: var(--font-primary);
      font-size: var(--font-size-3xl);
      font-weight: var(--font-weight-medium);
      color: var(--color-text-primary);
      @include flex-center;
      gap: var(--spacing-sm);
      margin: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 260px;

      span {
        font-weight: var(--font-weight-regular);
        font-family: var(--font-secondary);
        position: relative;
        top: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 130px;
      }
    }

    .details {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
      text-align: center;

      .detail {
        font-family: var(--font-secondary);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-lg);
        color: var(--color-text-primary);

        span {
          display: block;
          color: var(--color-text-secondary);
          font-size: var(--font-size-base);
          font-family: var(--font-primary);
          font-weight: var(--font-weight-regular);
          position: relative;
          top: -5px;
        }
      }
    }

    .actions {
      position: absolute;
      bottom: 0;
      left: var(--spacing-md);
      right: var(--spacing-md);
      display: flex;
      justify-content: space-between;
      width: calc(100% - 2 * var(--spacing-md));
      transition: opacity 0.3s ease, visibility 0.3s ease;

      .starContainer {
        display: flex;
        align-items: center;
        gap: var(--spacing-12);
        span {
          color: var(--color-secondary);
          font-size: var(--font-size-26);
          font-weight: var(--font-weight-regular);
        }
      }

      .icon {
        cursor: pointer;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  @include respond-tablet {
    width: 280px;
    flex-shrink: 0;
  }

  @include respond-mobile {
    width: 180px;
    height: 182px;
    flex-shrink: 0;
    .imageContainer {
      width: 111px;
      .image {
        width: 111px;
        height: 107px;
      }
    }
    .content {
      height: 120px;
      .actions {
        bottom: 5px;
        .starContainer span {
          font-size: var(--font-size-lg);
        }
      }
      .name {
        font-size: var(--font-size-xl);
      }
    }
  }
}
