@use '../../styles/abstracts/mixins' as *;

.recipes {
  margin: 28px auto 0;
  max-width: var(--container-max-width);
  width: 100%;

  @include respond-tablet {
    padding: 0 var(--spacing-2xl);
    margin-top: var(--spacing-6xl);
  }

  h2 {
    font-size: 67px;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    @include respond-tablet {
      margin-bottom: var(--spacing-3xl);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing-lg);
  margin-top: var(--spacing-3xl);

  @include respond-tablet {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: var(--spacing-lg);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: -60px;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      flex-shrink: 0;
      width: 280px;
    }
  }
}
