.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing-lg);
  margin-top: var(--spacing-3xl);
}

.recipes {
  margin: 28px auto 0;
  max-width: var(--container-max-width);
  width: 100%;
  h2 {
    font-size: 67px;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
  }
}
