$color-primary: #d84a4a;

$color-secondary: #425966;
$color-blue-light: #c2e3f3;
$color-blue-dark: #6aa3c1;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-custom: #a9a9a9;
$color-blue-gray: #8395a7;
$color-light-blue: #e9f1fa;
$color-gray-blue: #bfc4ca;
$color-overlay: rgba(0, 0, 0, 0.16); // #00000029

$color-success: #4caf50;
$color-warning: #ff9800;
$color-error: #f44336;
$color-info: #2196f3;

$color-text-primary: $color-primary;
$color-text-secondary: $color-secondary;
