@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

@use './base/reset';

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-gray-blue: #{$color-gray-blue};
  --color-blue-gray: #{$color-blue-gray};
  --color-blue-light: #{$color-blue-light};
  --color-light-blue: #{$color-light-blue};
  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --font-size-base: #{$font-size-base};
  --font-size-3xl: #{$font-size-3xl};
  --font-size-2xl: #{$font-size-2xl};
  --font-size-26: #{$font-size-26};
  --font-size-40: #{$font-size-40};
  --font-size-56: #{$font-size-56};
  --font-size-7xl: #{$font-size-7xl};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-bold: #{$font-weight-bold};
  --line-height-normal: #{$line-height-normal};
  --spacing-xs: #{$spacing-xs};
  --spacing-12: #{$spacing-12};
  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-2xl: #{$spacing-2xl};
  --spacing-3xl: #{$spacing-3xl};
  --spacing-4xl: #{$spacing-4xl};
  --spacing-5xl: #{$spacing-5xl};
  --spacing-6xl: #{$spacing-6xl};
  --spacing-7xl: #{$spacing-7xl};
  --container-max-width: #{$container-max-width};
}
