.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 200px;
}

.pageCategory {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--spacing-3xl) 0;
  h1 {
    font-size: 67px;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
  }
}
