@use '../../styles/abstracts/mixins' as *;

.banner {
  background: transparent linear-gradient(180deg, #c2e3f3 0%, #6aa3c1 100%) 0% 0% no-repeat padding-box;
  box-shadow: 4px 6px 23px #a9a9a911;
  height: 167px;
  margin: var(--spacing-7xl) 0;
  width: 100%;
  @include respond-tablet {
    height: 116px;
    margin: var(--spacing-3xl) 0;
  }

  @include respond-mobile {
    height: 70px;
  }
}

.content {
  max-width: var(--container-max-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  p {
    font-family: var(--font-secondary);
    font-size: var(--font-size-56);
    color: var(--color-secondary);
    margin: 0 0 0 var(--spacing-5xl);
  }

  img {
    position: absolute;
    right: 0;
    bottom: -38px;
  }

  @include respond-tablet {
    padding: 0 var(--spacing-2xl);

    p {
      font-size: var(--font-size-40);
      margin: 0;
    }

    img {
      position: relative;
      top: -7px;
      width: 379px;
      height: auto;
    }
  }

  @include respond-mobile {
    padding: 0 var(--spacing-md);

    p {
      font-size: var(--font-size-23);
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 300px;
    }

    img {
      top: -5px;
      right: -10px;
      overflow: hidden;
      width: 228px;
    }
  }
}
