.banner {
  background: transparent linear-gradient(180deg, #c2e3f3 0%, #6aa3c1 100%) 0% 0% no-repeat padding-box;
  box-shadow: 4px 6px 23px #a9a9a911;
  height: 167px;
  margin: var(--spacing-7xl) 0;
  width: 100%;
}

.content {
  max-width: var(--container-max-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  p {
    font-family: var(--font-secondary);
    font-size: var(--font-size-56);
    color: var(--color-secondary);
    margin: 0 0 0 var(--spacing-5xl);
  }

  img {
    position: absolute;
    right: 0;
    bottom: -38px;
  }
}
